---
title: {{ name.split('/') | last }}
head:
- tag: meta
  attrs:
    name: keywords
    content: {{ keywords | join(', ') }}
- tag: meta
  attrs:
    name: description
    content: |
        {{ description.split("\n") | map('trim') | map('escape') | join(' ') | truncate(200) }}
---

{{ description }}

**Keywords :** {{ keywords | join(', ') }}

---

## Inputs

{% for channel in input -%}

### `Input {{loop.index}}`

{{ channel | channel_format }}

<div class="module-input-table">
| | Type | Description | Mandatory | Pattern |
|-|-|-|-|-|

{%- if channel is mapping -%}

{% for name, content in channel.items() %}
| {{ name | escape | escape_mdx }} | {{ content.type }} | {{ content.description | format_description }} | {{ content.mandatory | default(True) }} | {% if content.pattern %} `{{ content.pattern }}` {% endif %} |
{% endfor %}

{% else -%}

{% for item in channel %}
{% for name, content in item.items() -%}
| {{ name | escape | escape_mdx }} | {{ content.type }} | {{ content.description | format_description }} | {{ content.mandatory | default(True) }} | {% if content.pattern %} `{{ content.pattern }}` {% endif %} |
{%- endfor %}
{%- endfor %}

{% endif %}
</div>

{% endfor -%}

---

## Outputs

{% for name, channel in output.items() -%}

### `{{ name }}`

{{ channel[0] | channel_format }}

<div class="module-output-table">
| | Type | Description | Mandatory | Pattern |
|-|-|-|-|-|

{%- if channel[0] is mapping -%}

{% for name, content in channel[0].items() %}
| {{ name | escape | escape_mdx }} | {{ content.type }} | {{ content.description | format_description }} | {{ content.mandatory | default(True) }} | {% if content.pattern %} `{{ content.pattern }}` {% endif %} |
{% endfor -%}

{%- else -%}

{% for item in channel[0] %}
{% for name, content in item.items() -%}
| {{ name | escape | escape_mdx }} | {{ content.type }} | {{ content.description | format_description }} | {{ content.mandatory | default(True) }} | {% if content.pattern %} `{{ content.pattern }}` {% endif %} |
{%- endfor %}
{%- endfor %}

{% endif %}
</div>

{% endfor -%}

{%- if args is iterable and args | length > 0 -%}

---

## Arguments (see [process.ext](https://www.nextflow.io/docs/latest/reference/process.html#ext))

<div class="module-args-table">
| | Type | Description | Default | Choices |
|-|-|-|-|-|

{%- for arg in args %}
{% for name, content in arg.items() -%}
| {{ name | escape | escape_mdx }} | {{ content.type }} | {{ content.description | format_description }} | `{{ content.default }}` | {{ content.choices | format_choices }} |
{%- endfor %}
{%- endfor %}
</div>

{%- endif %}

---

## Tools

<div class="module-tools-table">
| | Description | DOI |
|-|-|-|

{%- for tool in tools %}
{% for name, content in tool.items() -%}
| {{ name | link_tool(url=content.homepage) }} | {{ content.description | format_description }} | {% if content.doi %} [{{ content.doi }}](https://doi.org/{{ content.doi }}) {% endif %} |
{%- endfor %}
{%- endfor %}
</div>

---

## Authors

{% for author in authors -%}
- [{{ author }}](https://github.com/{{ author | trim("@") }})
{% endfor %}

---

**Last updated** : [{{ currentdate }}](https://github.com/nf-neuro/modules/commit/{{ currentcommit }})
