process {
    withName: '.*ATLAS_IIT:THR_BUNDLE_MASK' {
        ext.operation = 'lower_threshold'
        ext.suffix    = 'mask'
        ext.data_type = 'int32'
    }

    withName: '.*ATLAS_IIT:SMOOTH_MASK' {
        ext.operation = 'blur'
        ext.suffix    = 'smoothed'
        ext.data_type = 'float32'
    }

    withName: '.*ATLAS_IIT:THR_SMOOTHED_MASK' {
        ext.operation = 'lower_threshold'
        ext.suffix    = 'mask'
        ext.data_type = 'int32'
    }
}
